<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
<body>

<div ng-app="speech" ng-controller="speechController as spc">
  <textarea rows="4" cols="50" contenteditable="false" ng-model="spc.final">
  </textarea>
  <textarea rows="4" cols="50" contenteditable ng-model="spc.interim.join(' ')">
  </textarea>
  <button ng-click="spc.start()">
    Start
  </button>
</div>

<script>
angular.module('speech',[]);

angular.module('speech').controller('speechController', function($scope) {
  this.rec = new webkitSpeechRecognition();
  this.interim = [];
  this.final = '';
  var self = this;
  
  this.rec.continuous = false;
  this.rec.lang = 'en-US';
  this.rec.interimResults = true;
  this.rec.onerror = function(event) {
    console.log('error!');
  };

  this.start = function() {
    self.rec.start();
  };
  
  this.rec.onresult = function(event) {
    for(var i = event.resultIndex; i < event.results.length; i++) {
      if(event.results[i].isFinal) {
        self.final = self.final.concat(event.results[i][0].transcript);
        console.log(event.results[i][0].transcript);
        $scope.$apply();
      } else {
        self.interim.push(event.results[i][0].transcript);
        console.log('interim ' + event.results[i][0].transcript);
        $scope.$apply();
      }
    }
  };
  
});
</script>

</body>
</html>